<div class ="container"><h1>Login</h1></div>

<%= form_with :url => "/sessions" do |form| %>
<div class = "container">
<div class = "mb-3">
  <p>
    <%= form.label "email", :class => "form-label" %>
    <%= form.text_field "email", :class => "form-control" %>
    <%= form.label "password", :class => "form-label" %>
    <%= form.password_field "password", :class => "form-control" %>
  </p>
</div>
</div>


<div class="container">
  <p><%= form.submit "Login" , class:"btn btn-primary"%></p>
</div>
<% end %>